#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    min-height: 500px;
  }

.texture-well {
    height: 138px;
    width: 138px;
}

.texture-canvas {
    height: 128px;
    width: 128px;
}